.footer{
    display: flex;
    justify-content: flex-end;
    gap: 5rem;
    padding-right: 2rem;
    position: absolute;
    bottom: 0;
    right: 10px;
   
}
.footer a{
    text-decoration: none;
    font-size: 12px;
    
}
.footer a p{
    color: #33B533;
    margin-block-start: 0em;
    margin-block-end: 0em;
}