.nav hr{
    margin-block-end: 0em;
}
.green-header{
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    background-color: #087D4C;
    align-items: center;
    padding-right: 3rem;
}
.green-header a{
    text-decoration: none;
}
.green-header a p{
    color: #FFFFFF;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.logo{
    padding-left: 4rem;
}
.location{
    display: flex;
    justify-content: flex-start;
    gap: 8rem;
    height: 6vh;
    align-items: center;
}
.breadcrum-nav h4{
    color: #087D4C;
    font-size: 20px;
}